<a href="https://colab.research.google.com/github/HesusG/python-decision-making-support-analysis/blob/main/Minicase2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MiniCase 2 - Linear Regression

Instructions:

Import necessary packages:

Start by importing the required packages for data analysis and visualization, including pandas, seaborn, and matplotlib. You can use the following import statements at the beginning of your code:

In [ ]:
import seaborn as sns
import pandas as pd

# Include Any Additional Packages you need to import


# Load the "mpg" dataset from seaborn's GitHub repository
df = sns.load_dataset('mpg')

# Alternatively, you can load the "mpg" dataset directly from the UCI Machine Learning Repository:
# df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data', delim_whitespace=True, header=None, names=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'car_name'])

# Print the first few rows of the dataset to verify that it's loaded correctly
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino


Explore the dataset by performing the following tasks:
Display the first few rows of the dataset using the head() function to verify its contents.


Use the info() function to get an overview of the dataset, including column names, data types, and missing values.
Calculate summary statistics of the dataset using the describe() function.

Create a histogram of a numerical variable using seaborn's distplot() or matplotlib's hist() function to visualize its distribution.

Create a scatter plot of two numerical variables using seaborn's scatterplot() or matplotlib's scatter() function to identify any potential relationships.

Use appropriate axes labels, titles, and legends to enhance the readability of your visualizations.

Create a pairplot

Identify candidates for linear regression:

Perform a correlation matrix:

Calculate the correlation matrix of the dataset using the corr() function on the DataFrame. Assign the result to a new variable, such as corr_matrix.

Visualize the correlation matrix using seaborn's heatmap() function to better understand the relationships between variables.

Identify two numerical variables that seem to exhibit a linear relationship. Note down the names of these variables, as they will be used for implementing linear regression.

Choose one independent variable (X) and one dependent variable (y) from the identified candidates for linear regression.
Separate the chosen variables from the DataFrame and store them in separate variables, such as X and y.

Create an instance of the linear regression model using statsmodels LinearRegression() class. Assign it to a variable, such as model.

Fit the model to the training data using the fit() method, passing in X_train and y_train as arguments.

Use the model to make predictions on the test data using the predict() method, passing in X_test as an argument.

Good luck with your assignment!